*{
    background-color: rgba(247,247,247,255);
}
.nav-link{
    display: flex;
    text-decoration:  none;
    justify-content: center;
    display: flex;
    color: black;
    background-color: rgba(247,247,247,255);
    margin-top: 1.5em;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 3em;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-size: 35px;
}
.image-logo{
    height: 150px;
    width: 250px;
}
.navbar{
    background-color: rgba(247,247,247,255);
}
/**/
