*{
    background-color: rgba(247,247,247,255);
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}
.nav-link{
    display: flex;
    text-decoration:  none;
    justify-content: center;
    display: flex;
    color: white;
    background-color: black
    margin-top: 1.5em;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 3em;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-size: 35px;
}
.image-logo{
    height: 150px;
    width: 250px;
}
.navbar{
    background-color: rgba(247,247,247,255);
}
.image img{
    height: 650px;
    width: 750px;
}
.textes p{
text-align: center;
font-size: 30px;
color: white;
}
.textes h1{
text-align: center;
font-size: 45px;
color: white;
}
.textes h2{
    text-align: center;
    font-size: 35px;
    color: white;
    }
.listes p{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}
.evenement h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
.logo img{
    height: 550px;
    width: 850;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
}
.scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  .scroll_to_top img {
    width: 55px;
  }
.copyrite{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
    width: 150px;
}
.copyrite p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo_facebook img{
    height: 80px;
    width: 80px;
    color: white !important;
    background-color: white;
    align-items: center;
    gap:3;
    background-color: #000 !important;
}
.footer{
margin: 15px;
padding: 15px;
background-color: #000 !important;
}
.calendrier{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.calendrier p{
    display: flex;
    text-align: center;
    justify-content: center;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 350px;
    overflow: hidden;
   transition-duration: 5ms;
   transition-delay: 2s;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
    transition-duration: 5ms;
    transition-delay: 2s;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
    transition-duration: 5ms;
    transition-delay: 2s;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
    transition-duration: 5ms;
    transition-delay: 2s;
}
.slide-input{
    opacity: 0;
    transition-duration: 5ms;
    transition-delay: 2s;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    transition-duration: 5ms;
    transition-delay: 2s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;

}

/**/
