*{
    background-color: rgba(247,247,247,255);
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}
.image-de-font{
    height: 700px;
    width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.titre1{
    display: flex; 
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 35px;
}
.click{
    border-radius: 1em;
    border:solid 1px;
    border-color: transparent;
    background-color: transparent;
    color: blue;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 250px;
    font-size: larger;
    font-size: 25px;
    text-decoration: none;
}
.titre3{
    display: flex; 
    justify-content: center;
    text-align: center;
    font-size: large;
    font-size: 30px;
    color: white;
}
.paragraphe{
    display: flex; 
    justify-content: center;
    text-align: center;
    font-size: large;
    font-size: 20px;
}
.texte{
align-items: center;
}
.star {
    animation: star 10s ease-out infinite;
  }
  .wars {
    animation: wars 10s ease-out infinite;
  }
  .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  }
  
  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  
  @keyframes wars {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(0.5em);
    }
    20% {
    opacity: 1;
    }
    90% {
    opacity: 1;
    transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

    @keyframes spin-letters {
    0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
    }
    30% {
    opacity: 1;
    }
    70%, 86% {
    transform: rotateY(0);
    opacity: 1;
    }
    95%, 100% {
    opacity: 0;
    }
}

    @keyframes move-byline {
    0% {
    transform: translateZ(5em);
    }
    100% {
    transform: translateZ(0);
    }
}

  /* Make the 3D work on the container */
.starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
}

  /* General styles and layout */
body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}

.byline span {
    display: inline-block;
}

img {
    width: 100%;
}

.star, .wars, .byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}

@media only screen and (max-width: 600px) {
    .starwars-demo {
    font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .starwars-demo {
    font-size: 7px;
    }
}
/* Animation properties */
.star {
    animation: star 10s ease-out infinite;
  }
  .wars {
    animation: wars 10s ease-out infinite;
  }
  .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  }
  
  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  
  @keyframes wars {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(0.5em);
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  
  @keyframes spin-letters {
    0%, 10% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  }
  
  /* Make the 3D work on the container */
  .starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
  }
  
  /* General styles and layout */
  .starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
  }
  
  .byline span {
    display: inline-block;
  }
  
  img {
    width: 100%;
  }
  
  .star, .wars, .byline {
    position: absolute;
  }
  
  .star {
    top: -0.75em;
  }
  
  .wars {
    bottom: -0.5em;
  }
  
  .byline {
    color: white;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
  }
  
  /*** Media queries for adjusting to different screen sizes ***/
  
  @media only screen and (max-width: 600px) {
    .starwars-demo {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .starwars-demo {
      font-size: 7px;
    }
  }
  .nav-link{
    display: flex;
    text-decoration:  none;
    justify-content: center;
    display: flex;
    color: white;
    background-color: rgba(247,247,247,255);
    margin-top: 1.5em;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 3em;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}
.image-logo{
    height: 150px;
    width: 250px;
}
.navbar{
    background-color: rgba(247,247,247,255);
}

